<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="/static-{{ build }}/js/json2.js"></script>
    <script type="text/javascript" src="/static-{{ build }}/js/underscore.js"></script>
    <script type="text/javascript" src="/static-{{ build }}/js/backbone.js"></script>
    <script type="text/javascript" src="/static-{{ build }}/js/prdict.js"></script>
    {% block scriptinclude %}
    {% endblock %}
    <title>{% block title %}Prdict{% endblock %}</title>
    <link rel="stylesheet" href="/static-{{ build }}/css/bootstrap.min.css" type="text/css"/>
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/static-{{ build }}/prdict.ico"/>
    {% block head %}
    {% endblock %}
    <style type="text/css">
      body {
      padding-top: 60px;
      }
    </style>
  </head>
  <body>
    {% block script %}
    {% endblock %}
    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="/">Prdict</a>
          <ul class="nav">
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#friends">Friends</a></li>
            <li><a href="#profile">Profile</a></li>
          </ul>
          {% if login_link %}
          <form action="{{ login_link }}" class="pull-right">
            <input class="input-small" type="text" placeholder="Username"/>
            <input class="input-small" type="password" placeholder="Password"/>
            <button class="btn" type="submit">Sign in</button>
          </form>
          {% endif %}
          {% if logout_link %}
          <p class="pull-right"><a href="{{logout_link}}">Log out</a></p>
          {% endif %}
          {% if current_user %}
          <p class="pull-right">Logged in as <a href="{{current_user.relative_url}}">{{current_user.username}}</a></p>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="sidebar">
        {% block sidebar %}
        {% endblock %}
      </div>
      <div class="content">
        {% block message %}
        {% if msg %}
        <p>{{ msg|escape }}</p>
        {% endif %}
        {% endblock %}
        {% block content %}
        {% endblock %}
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <p>&copy; 2012 Prdict LLC</p>
      </div>
    </footer>
  </body>
</html>
