{% extends "base.html" %}

{% block message %}
You just added the following entries to the datastore:
{% endblock %}

{% block content %}
<h4>Users</h4>
{% for user in users %}
  <a href="/api/users/{{ user.key }}">{{ user.username|escape }}</a>
{% endfor %}
<h4>Events</h4>
{% for event in events %}
  <a href="/api/events/{{ event.key }}">{{ event.title|escape }}</a>
{% endfor %}

<h4>Sports</h4>
{% for sport in sports %}
  <a href="/api/sports/{{ sport.key }}">{{ sport.title|escape }}</a>
{% endfor %}
{% endblock %}
