{% extends "base.html" %}

{% block head %}
<meta name="google-site-verification" content="a05vvuun0ZefRCjWBBC-QZCqo6JoJ-Y-Ezl50nDwNJ8" />
{% endblock %}

{% block noncontainer %}
{% endblock %}

{% block content %}
<div class="hero-unit" id="home-hero">
  <h1>Think you know sports?</h1>
  <p>Prdict lets you match wits with your friends during every game and win prizes for coming out on top.</p> 
  <p><a class="btn btn-primary btn-large" href="/about">How does it work? &raquo;</a></p>
</div>
<div id="allgames">
  <script type="text/template" id="league-option-template">
    <option id="<%= teams_url %>"><%= title %></option>
  </script>
  
  <script type="text/template" id="team-option-template">
    <option id="<%= title %>"><%= location %> <%= title %></option>
  </script>

  <script type="text/template" id="game-template">
    <div class="span3">
      <div class="well">
        <div class="row show-grid">
          <div class="span2">
            <div class="thumbnail">
              <img src="/static-{{ build }}<%= away_logo %>"/>
            </div>
          </div>
          <div class="span2">
            <h6 style="text-align:center;">2Q</h6>
          </div>
          <div class="span2">
            <div class="thumbnail">
              <img src="/static-{{ build }}<%= home_logo %>"/>
            </div>
          </div>
        </div>
        <div class="row show-grid">
          <div class="span2">
            <center><h5><%= away_title %></h5></center>
          </div>
          <div class="span2">
            <h6 style="text-align:center;">3:45</h6>
          </div>
          <div class="span2">
            <center><h5><%= home_title %></h5></center>
          </div>
        </div>
        <div class="row show-grid">
          <div class="span2">
            <p style="text-align:center;"><%= away_score %></p>
          </div>
          <div class="span2">
            <a style="text-align:center;" href="/events/<%= event_key %>/chat" class="btn <%= button_class %>"><%= button_text %></a>
          </div>
          <div class="span2">
            <p style="text-align:center;"><%= home_score %></p>
          </div>
        </div>
      </div>
    </div>
  </script>
  
<!--  <script type="text/template" id="game-template">
    <div class="row-fluid">
      <div class="span1">
        <div class="row"><%= away_title %></div>
        <div class="row"><%= home_title %></div>
      </div>
      <% if (show_score) { %>
      <div class="span1">
        <div class="row"><%= away_score %></div>
        <div class="row"><%= home_score %></div>
      </div>
      <% } %>
      <div class="span1">
        <a href="/events/<%= event_key %>/chat" class="btn <%= button_class %>"><%= button_text %></a>
      </div>
    </div>
    <p/>
  </script>-->

  <div class="row-fluid">
    <form>
      <select class="span1" name="league" id="league_filter">
        <option></option>
      </select>
    </form>
    <span id="team_filter_span">
      <form>
        <select class="span2" name="team" id="team_filter">
          <option></option>
        </select>
      </form>
    </span>
  </div><!-- row-fluid -->
  <div class="row-fluid">
    <div class="span1">
      <button class="btn" id="refresh">Refresh</button>
    </div> <!-- span1 -->
  </div> <!-- row-fluid -->
  <div class="row-fluid">
    <h3>In-Progress</h3>
    <div class="game_list" id="inprogress">
    </div> <!-- game_list -->
  </div> <!-- row-fluid -->
  <div class="row-fluid">
    <h3>Upcoming</h3>
    <div class="game_list" id="upcoming">
    </div> <!-- game_list -->
  </div> <!-- row-fluid -->
  <div class="row-fluid">
    <h3>Most Recent</h3>
    <div class="game_list" id="recent">
    </div> <!-- game_list -->
  </div> <!-- row-fluid -->
</div> <!-- allgames -->
{% endblock %}
