{% extends "base_feed.html" %}

{% block parent %}
{% if parent %}
<h1>Schedule for : {{ parent.title|escape }}</h1>
<hr/>
{% endif %}
{% endblock %}

{% block entries %}
{% if entries %}
<table>
<tr><th>Date</th><th>Home</th><th>Away</th></tr>
{% for entry in entries %}
  <tr>
    <td>{{ entry.nice_start_date_est }}</td>
    <td>{{ entry.home_team.location }} {{ entry.home_team.title }}</td>
    <td>{{ entry.away_team.location }} {{ entry.away_team.title }}</td>
  </tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}
