{% extends "base.html" %}

{% block scriptinclude %}
<script type="text/javascript" src="/static-{{ build }}/js/prdict_chat.js"></script>
{% endblock %}

{% block content %}
<div id="allchat">
  <script type="text/template" id="msg-template">
    <div class="row">
      <div class="span2">
        <%= username %>
      </div>
      <div class="span9">
        <%= content %>
      </div>
      <div class="span1">
        <h6><%= timestamp %></h6>
    </div>
  </script>


  <div class="row">
    <div class="span4">
      <h1 style="text-align:center">ROAD TEAM</h1>
    </div>
    <div class="span2 offset1">
      <h4 style="text-align:center">3:45</h4>
      <h4 style="text-align:center">2Q</h4>
    </div>
    <div class="span4 offset1">
      <h1 style="text-align:center">HOME TEAM</h1>
    </div>
  </div> <!-- row -->
  <div class="row">
    <div class="span4">
      <div class="thumbnail">
        <img src="/static-{{ build }}/img/logos/mlb/chicago_cubs.png"/>
      </div>
    </div>
    <div class="span4 offset4">
      <div class="thumbnail">
        <img src="/static-{{ build }}/img/logos/nba/indiana_pacers.png"/>
      </div>
    </div>
  </div> <!-- row -->
  <div class="row">
    <div class="span10">
      <form class="form-horizontal well">
        <input type="text" class="span8" placeholder="Chat here...">
        <button type="submit" class="btn">Submit</button>
      </form>
    </div>
  </div> <!-- row -->
  <div id="chat_messages">
  </div> <!-- div chat_messages -->
</div>
{% endblock %}
