{% extends "base_list.html" %}

{% block script %}
{% if league %}
  
  <script type='text/javascript'>
    $(document).ready(function() {
      $('.{{league.title}}_nav').attr('active', true);
    });
  </script>
{% endif %}
{% endblock %}

{% block parent %}
{% if league %}
<h1>{{ league.title|escape }}</h1>
<hr/>
{% endif %}
{% endblock %}

{% block entries %}
{% if teams %}
<table>
{% for team in teams %}
  <tr>
    <td><a href="{{ self_link }}/teams/{{ team.title }}">{{ team.location }} {{ team.title }}</a></td>
  </tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}
