{% extends "base_feed.html" %}

{% block script %}
<script type='text/javascript'>
  $(document).ready(function(){
    $.ajax({
      url : "/api/teams/{{ team.key }}/schedule?alt=json",
      type : "GET",
      dataType : "json",
      error : function() {
        console.error("Encountered error making AJAX call to team schedule resource!")
      },
      success : function(json) {
        for (var event_idx in json.schedule) {
          var event = json.schedule[event_idx];
          var scheduleRow = '<tr><td>' + event.nice_start_date_est + '</td><td>' +
                            '<a href="/leagues/' + event.league.title + 
                            '/teams/' + event.home_team.title + '">' + 
                            event.home_team.location + ' ' + event.home_team.title + 
                            '</a></td><td>' + 
                            '<a href="/leagues/' + event.league.title + 
                            '/teams/' + event.away_team.title + '">' + 
                            event.away_team.location + ' ' + event.away_team.title + 
                            '</a></td><td><a href="/events/' + 
                            event.key + '/chat">Chat</a></td>';
          $('.schedule').append(scheduleRow);
        } 
      }
    });
  });  
</script>
{% endblock %}

{% block parent %}
{% if team %}
<h1>{{team.location}} {{team.title}} Schedule</h1>
<hr/>
{% endif %}
{% endblock %}

{% block entries %}
<table name="schedule" class="schedule">
<tr><th>Date</th><th>Home</th><th>Away</th><th></th></tr>
</table>
{% endblock %}
