{% extends "fragments/base_fragment.html" %}

{% block links %}
<dt><a href="/events/{{ item.key }}/chat">chat about {{ item.title|escape }}</a></dt>
{% endblock %}

{% block extra_form %}
<dt>Start date: <input type="text" name="start_date" value="{{ item.start_date_str|escape }}"/></dt>
<dt>End date: <input type="text" name="end_date" value="{{ item.end_date_str|escape }}"/></dt>
<dt>
{% endblock %}

{% block other_write_data %}
<dt>Start Date: {{item.start_date|escape }}</dt>
<dt>End Date: {{item.end_date|escape }}</dt>
{% endblock %}

{% block other_data %}
<p class="hidden">
<span class="event_title">{{ item.title|escape }}</span>
</p>
{% endblock %}
