{% extends "fragments/base_fragment.html" %}

{% block links %}
<dt><a href="{{ entry.relative_url }}/teams">teams</a></dt>
{% endblock %}

{% block extra_form %}
<a href="{{entry.sport.relative_url}}">{{ entry.sport.title|escape }}</a>
<dt>Sport: </dt>
<select name="sport">
{% for sport in sports %}
{% ifequal sport.title entry.sport.title %}
<option selected value="{{sport.title|escape}}">{{sport.title|escape}}</option>
{% else %}
<option value="{{sport.title|escape}}">{{sport.title|escape}}</option>
{% endifequal %}
{% endfor %}
</select>
{% endblock %}

{% block other_write_data %}
<dt>Sport: <a href="/api/sports/{{entry.sport.key}}">{{entry.sport.title}}</a></dt>
{% endblock %}
