<dl>
<dt><a href="{{ league.relative_url }}">self link</a></dt>
{% if can_write %}
<form action="{{ league.relative_url }}" method="POST">
Update league:<br/>
<input type="hidden" name="_method" value="PUT"/>
<dt>Title: <input type="text" name="title" maxlength="80" value="{{ league.title|escape }}"/></dt>
<dt>Description: <input type="textarea" name="description" maxlength="500" value="{{ league.description|escape }}"/></dt>
<input type="submit" name="submit" value="Update league"/>
</form>
<form action="{{ league.relative_url }}" method="POST">
<input type="hidden" name="_method" value="DELETE"/>
<dt><input type="submit" name="submit" value="Delete League"/></dt>
</form>
{% else %}
<dt>Title: {{ league.title|escape }}</dt>
<dt>Description: {{ league.description|escape }}</dt>
{% endif %}
<dt>Created: {{ league.isoformat_created }}</dt>
<dt>Updated:{{ league.isoformat_updated }}</dt>
</dl>
