{% extends "fragments/base_fragment.html" %}

{% block extra_form %}
<dt>League: <a href="{{entry.league.relative_url}}">{{ entry.league.title|escape }}</a>
<select name="league">
{% for league in leagues %}
{% ifequal league.title entry.league.title %}
<option selected value="{{league.relative_url|escape}}">{{league.title|escape}}</option>
{% else %}
<option value="{{league.relative_url|escape}}">{{league.title|escape}}</option>
{% endifequal %}
{% endfor %}
</select>
{% endblock %}

{% block other_write_data %}
<dt>League: <a href="{{ entry.league.relative_url }}">{{ entry.league.title }}</a></dt>
{% endblock %}

