{% extends "fragments/base_fragment.html" %}

{% block links %}
<a href="/teams/{{entry.key|escape}}/schedule">Schedule</a>
{% endblock %}

{% block extra_form %}
<dt>League: <a href="{{entry.league.relative_url}}">{{ entry.league.title|escape }}</a>
<select name="league">
{% for league in leagues %}
{% ifequal league.title entry.league.title %}
<option selected value="{{league.relative_url|escape}}">{{league.title|escape}}</option>
{% else %}
<option value="{{league.relative_url|escape}}">{{league.title|escape}}</option>
{% endifequal %}
{% endfor %}
</select>
<dt>Location: <input type="text" name="location" value="{{ entry.location|escape }}" size="80"/></dt>
<dt>Ref ID: <input type="text" name="ref_id" value="{{ entry.ref_id|escape }}" size="80"/></dt>
{% endblock %}

{% block other_write_data %}
<dt>League: <a href="{{ entry.league.relative_url }}">{{ entry.league.title }}</a></dt>
<dt>Location: {{ entry.location|escape }}</dt>
<dt>Ref ID: {{ entry.ref_id|escape }}</dt>
{% endblock %}

