<h1>User: {{ user.username|escape }}</h1>
<p><a href="{{ user.relative_url }}">self link</a></p>
<p><a href="{{ user.relative_url}}/friends">friends</a></p>
<dl>
<dt>Email:</dt>
<dd>{{ user.email }}</dd>
<dt>Created:</dt>
<dd>{{ user.isoformat_created }}</dd>
<dt>Updated:</dt>
<dd>{{ user.isoformat_updated }}</dd>
<dt>Etag:</dt>
<dd>{{ user.etag }}</dd>
</dl>
<form action="{{ user.relative_url }}" method="POST">
<input type="hidden" name="_method" value="DELETE"/>
<input type="submit" name="submit" value="Delete User"/>
</form>
