body {
    background: #ffffff;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

#header {
    position:absolute;
    top: 0; 
    width: 100%;
}

#current_user {
    float: right;
    padding: 10px;
}

#content {
    margin: 10px;
    margin-top:70px;
}

.clear {
    clear: both;
}

.username {
    font-weight: bold;
}

#banner {
    margin-top: 100px;
    font-weight: bold;
    font-style: italic;
    font-size: 24pt;
}

#footer {
    font-size: 10pt;
}

.hidden {
    display: none;
}

#submitMsg {
    position: relative;
    width: 300px;
    height: 43x;
}

.messageText {
    position: absolute;
    height: 31px;
    top: 6;
    left: 0;
}

.messageLoading {
    position: absolute;
    height: 31px;
    width: 31px;
    top: 0;
    right: 0;
}

