<p>Create a new league:<br/>
<form method="POST" action="{{ self_link }}">
<b>League title:</b>
<input type="text" name="title" maxlength="80"/><br/>
<b>League description:</b>
<input type="textarea" name="description" maxlength="500"/><br/>
<b>Ref ID:</b>
<input type="text" name="ref_id" maxlength="80"/><br />
{% if sports %}
<b>Sport:</b>
<select name="sport">
{% for sport in sports %}
<option value="{{sport.title}}">{{sport.title|escape}}</option>
{% endfor %}
</select>
{% endif %}
<input type="submit" name="submit" value="Create League"/>
</form>
</p>
